/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/ 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/***************************** 
      ClearFix
*******************************/
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}


/* LAYOUTS 

	#head
	#wrapper_menu
		#menu
	#content
	#footer
*/

#head,#wrapper_menu,#menu,#content,	#footer { min-height: 100px; }
#wrapper_menu { width: 100%; background-color: black; }
#head,#menu,#content, #footer { width: 960px; margin:0 auto; }

#head { background-color: red;}
#menu { background-color: pink;} 
#content{ background-color: blue;} 
#footer{ background-color: grey;}

/* margenes */
.mr0 { margin-right: 0!important;}

.mb0 { margin-bottom: 0!important;}
.mb1 { margin-bottom: 1% !important;} 
.mb2 { margin-bottom: 2% !important;}


/* CAJAS */

.row { background-color: lime; margin-bottom: 15px; min-height: 100px;}

.caja1x1, .caja2x1, .caja1x2 { 
	float:left; 
	background-color: #EF6B00;
	height: 250px;
	width: 5%;	
	margin-right: 1%;
	
}

.caja1x1{
	width: 24.25%;
}

.caja2x1{
	width: 49.50%;
}

.caja1x2{
	width: 24.25%;
	height: 500px;
}

.contenedor2x2{ background-color: red; float:left; width: 49.50%; margin-right: 1%;}
	.contenedor2x2 .caja1x1 { width: 49%; margin-right: 2%;}
	

